<% provide(:title,"Website has been temporary suspended for maintenance") %>
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>
			FoodLocker needs to rest
		</h1>
		<h2>
			Thanks for your patience 
		</h2>
	</body>
</html>