<% provide(:title, "About") %>
<!DOCTYPE html>
<h1>About</h1>
<p>
    Food Locker is a web app written in Ruby on Rails (5.1.2). It's a sort of social network where the main focus is your lifestyle: you can keep track of how healthy you eat, how much water you drink and how much you exercise.
</p>