 <h1>Searching for '<%= params[:search] %>'</h1>

 <% if @data.empty? %>
   <h1>no results found</h1>
 <% end %>

 <% @data.each do |recipe| %>
   <%= link_to recipe.title, recipe_path(recipe) %>
        <br>
<% end %>