<% provide(:title, 'Notifications') %>
<h1>Notifications</h1>
    <% if !current_user.notifications.any? %>
         <% if !current_user.eat_time.blank? %>
            <% if current_user.eat_time.to_s(:time) <= DateTime.now.to_s(:time) %>
                <% current_user.notifications.create(content: "Remember to eat!", time: current_user.eat_time, ntype: 1) %>
            <% end %>
        <% end %>
        <% if !current_user.drink_time.blank? %>
            <% if current_user.drink_time.to_s(:time) <= DateTime.now.to_s(:time) %>
                <% current_user.notifications.create(content: "Remember to drink!", time: current_user.drink_time, ntype: 2) %>
            <% end %>
        <% end %>
        <% if !current_user.workout_time.blank? %>
            <% if current_user.workout_time.to_s(:time) <= DateTime.now.to_s(:time) %>
                <% current_user.notifications.create(content: "Remember to exercise!", time: current_user.workout_time, ntype: 3) %>
            <% end %>
        <% end %>
        <% if !current_user.weight_time.blank? %>
            <% if current_user.weight_time.to_s(:time) <= DateTime.now.to_s(:time) %>
                <% current_user.notifications.create(content: "Remember to update your weight!", time: current_user.weight_time, ntype: 4) %>
            <% end %>
        <% end %>
    <% else %>
        <% if DateTime.now.to_date.to_s>current_user.notifications.last.created_at.to_date.to_s %>
            <% current_user.notifications.destroy_all %>
        <%end %>

        <% if !current_user.eat_time.blank? && current_user.notifications.find_by(ntype: 1).nil? %>
            <% if current_user.drink_time.to_s(:time) <= DateTime.now.to_s(:time) %>
                <% current_user.notifications.create(content: "Remember to eat!", time: current_user.eat_time, ntype: 1) %>
            <% end %>
        <% end %>
        
        <% if !current_user.drink_time.blank? && current_user.notifications.find_by(ntype: 2).nil? %>
            <% if current_user.drink_time.to_s(:time) <= DateTime.now.to_s(:time) %>
                <% current_user.notifications.create(content: "Remember to drink!", time: current_user.drink_time, ntype: 2) %>
            <% end %>
        <% end %>
        
        <% if !current_user.workout_time.blank? && current_user.notifications.find_by(ntype: 3).nil? %>
            <% if current_user.workout_time.to_s(:time) <= DateTime.now.to_s(:time) %>
                <% current_user.notifications.create(content: "Remember to exercise!", time: current_user.workout_time, ntype: 3) %>
            <% end %>
        <% end %>
        
        <% if !current_user.weight_time.blank? && current_user.notifications.find_by(ntype: 4).nil? %>
            <% if current_user.weight_time.to_s(:time) <= DateTime.now.to_s(:time) %>
                <% current_user.notifications.create(content: "Remember to update your weight!", time: current_user.weight_time, ntype: 4) %>
            <% end %>
        <% end %>
        
    <% end %>

<%# if current_user.notifications.last.time.to_s!=DateTime.now.to_date.to_s %>
    <%# @diary.days.create(date: DateTime.now.to_date) %>
<%# end %>

<% if !current_user.notifications.any? %>
    <h2>You have no notifications.</h2>
<% else %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <ul class="notifications">
        <% current_user.notifications.each do |notification| %>
            <%=notification.time.to_s(:time)%>, <%=notification.created_at.to_date.strftime("%d %b %Y") %> | <%= notification.content %><br>
        <% end %>
    </ul>
        </div>
</div>
<% end %>
