<html>
<head>
</head>
<body>
<form action="" method="post" name="registr" style="font-family:verdana" style="text-align: center">
<h1>Quiz</h1>
<br>
Name:
<input type="text" name="name" size="30" maxlength="30">
<br>
Gender:
<input type="radio" name="gender" value="M">M
<input type="radio" name="gender" value="F">F
<br>
<br>
Height:
<input type="text" name="height" size="30" maxlength="30">
<br>
<br>
Weight:
<input type="text" name="weight" size="30" maxlength="30">
<br>
Age:
<input type="text" name="Age" size="30" maxlength="30">
<br>
Water:
<input type="text" name="water" size="30" maxlength="30">
<br>
Sport:
<input type="radio" name="sport" value="S">SI
<input type="radio" name="sport" value="N">NO
<br>
<br>
Sport time:
<input type="text" name="sport_time" size="30" maxlength="30">
<br>
Target weight:
<input type="text" name="target_weight" size="30" maxlength="30">
<br>
<input type="submit" value="Submit">
<input type="reset" value="Reset">
</form>
</body>
</html>