<% provide(:title, 'All Days') %>
<h1>All days</h1>

<ul class="days">
    <% current_user.diary.days.each do |day| %>
        <li><%= link_to day.date.strftime("%d %B %Y"), day %></li>
    <% end %>
</ul>
