// Place all the styles related to the GoogleAuthentication controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.qr_code {
    margin: auto;
    width: 200px;
}

.qr_form {
    margin: auto;
    width: 200px;
}